# Python
*.py[cod]
*$py.class
__pycache__/
*.so
.Python
venv/
env/
ENV/

# Django
*.log
local_settings.py
media/
staticfiles/

# Secrets
.env
*.secret
secrets.json
django_env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# File di sistema Linux
.bash_history
.bash_logout
.bashrc
.profile
.cache/
.sudo_as_admin_successful

# Directory statiche e media
media-serve/
static-serve/

# Script di configurazione
gunicorn_start.bash
