# Python
*.py[cod]
*$py.class
__pycache__/
*.so
.Python
venv/
env/
ENV/

# Django
*.log
local_settings.py
media/
staticfiles/

# Secrets
.env
*.secret
secrets.json
django_env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
